<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <style>
        #title{
            margin-top: 5rem;
        }
        #title_show {
            margin-top: 5rem;
        }
        #flash_success {
            margin-top: 5rem;
        }
        #flash_error {
            margin-top: 5rem;
        }
        .logo{
            width: 3rem;
            height: 3rem;
        }
    </style>
    <title>Livre d'or</title>
</head>
<body>
    <nav class="ui fixed inverted menu">
        <a href="/" class="header item">Accueil</a>
    </nav>
    <div class="ui main container">
        <% if (locals.flash && locals.flash.error) { %>
        <div class="ui negative message" id='flash_error'>
            <%= flash.error %>
        </div>
        <% } %>
        <% if (locals.flash && locals.flash.success) { %>
            <div class="ui positive message" id="flash_success">
                <%= flash.success %>
            </div>
        <% } %>